<div class="profile">
    <div class="avatar border">
        <img src="../../../../../assets/img/operator/dummy.png" alt="named" width="100%">
    </div>
    <div class="name">{{users.name || '-'}}</div>
    <div class="details">
        <div class="list">
            <img src="../../../../../../../assets/img/icons/phone.png" width="15px" alt="">
            <span class="ml-2">{{users.phone || '-'}}</span>
        </div>
        <div class="list">
            <img src="../../../../../../../assets/img/icons/mail.png" width="15px" alt="">
            <span class="ml-2">{{users.email || '-'}}</span>
        </div>
        <!-- <div class="list">
            <img src="../../../../../../../assets/img/icons/location.png" width="15px" alt="">
            <span class="ml-2">9876543210</span>
        </div>
        <div class="list">
            <img src="../../../../../../../assets/img/icons/phone.png" width="15px" alt="">
            <span class="ml-2">Kolkata</span>
        </div>
        <div class="list">
            <img src="../../../../../../../assets/img/icons/occupation.png" width="15px" alt="">
            <span class="ml-2">Software Engineer at Wipro</span>
        </div> -->
    </div>
</div>