<div class="ongoingticket">
    <div class="heading">
        <span>On Going Tickets</span>
        <button class="myBtn">Create New Ticket</button>
    </div>
    <div class="list-group">
        <div class="list-group-item">
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <div class="title">ITR Filing</div>
                    <div class="subtitle">Feb 25, 2020</div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <button class="myBtn myBtnInfo shadow-sm">Documents Uploaded</button>
                </div>
                <div class="col-sm-4 col-md-4">
                    <button class="myBtn" id="gbtn">Generate Payments</button>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <div class="title">ITR Filing</div>
                    <div class="subtitle">Feb 25, 2020</div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <button class="myBtn myBtnInfo shadow-sm">Documents Uploaded</button>
                </div>
                <div class="col-sm-4 col-md-4">
                    <button class="myBtn" id="gbtn">Generate Payments</button>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <div class="title">ITR Filing</div>
                    <div class="subtitle">Feb 25, 2020</div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <button class="myBtn myBtnInfo shadow-sm">Documents Uploaded</button>
                </div>
                <div class="col-sm-4 col-md-4">
                    <button class="myBtn" id="gbtn">Generate Payments</button>
                </div>
            </div>
        </div>
       
    </div>
</div>