<div class="ongoingticket">
    <div class="heading">
        <span>On Going Tickets</span>
        <button class="myBtn">Create New Ticket</button>
    </div>
    <div class="list-group">
        <div class="list-group-item">
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <div class="title">ITR Filing</div>
                    <div class="subtitle">Feb 25, 2020</div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <button class="myBtn myBtnInfo shadow-sm">Documents Uploaded</button>
                </div>
                <div class="col-sm-4 col-md-4">
                    <button class="myBtn" id="gbtn">Generate Payments</button>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <div class="title">ITR Filing</div>
                    <div class="subtitle">Feb 25, 2020</div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <button class="myBtn myBtnInfo shadow-sm">Documents Uploaded</button>
                </div>
                <div class="col-sm-4 col-md-4">
                    <button class="myBtn" id="gbtn">Generate Payments</button>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <div class="title">ITR Filing</div>
                    <div class="subtitle">Feb 25, 2020</div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <button class="myBtn myBtnInfo shadow-sm">Documents Uploaded</button>
                </div>
                <div class="col-sm-4 col-md-4">
                    <button class="myBtn" id="gbtn">Generate Payments</button>
                </div>
            </div>
        </div>
       
    </div>
</div>

  
  <!-- Modal -->
  <div class="modal fade" id="createPayment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create Payment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="">
              <div class="form-group">
                  <label for="">Enter Amount</label>
                  <input type="text" name="amount" id="amount">
              </div>

              
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>