<div class="createSer">
    <div class="heading">
        <button class="btn btn-outline-primary-new d-block ml-auto btn-sm" (click)="createServiceModal()">Create New Service</button>
    </div>
    <div class="panel">
        <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col" width="2%" class="text-center">#</th>
                <th scope="col" width="10%">Name</th>
                <th scope="col" width="20%">Documents</th>
                <th scope="col" width="5%">Amount</th>
                <th scope="col" width="5%">Eta</th>
                <th scope="col" width="5%" class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let service of serviceList; index as i">
                <th scope="row" class="text-center">{{i+1}}</th>
                <td>
                  <button class="btn btn-link text-left p-0" (click)="showDetails(service.id)">{{service.name}}</button>
                </td>
                <td>{{service.documents}}</td>
                <td>{{service.amount|currency:'₹'}}</td>
                <td>{{service.eta}}</td>
                <td class="text-center">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-outline-primary btn-sm" (click)="edit(service)">
                          <span class="material-icons">edit</span>
                        </button>
                        <button type="button" class="btn btn-outline-primary btn-sm" (click)="delete(service.id, i)">
                          <span class="material-icons" id="del_{{i}}">delete</span>
                          <img src="../../../assets/img/loader/loader.svg" width="20px" id="del_load_{{i}}" style="display:none;filter: invert(1);">
                          
                        </button>
                    </div>
                </td>
              </tr>
            </tbody>
        </table>
        <p class="text-center text-muted p-2" *ngIf="serviceList.length == 0"> No Services </p>

        <div class="loader d-block m-auto p-2" *ngIf="loader">
          <img src="../../../assets/img/loader/loader.svg" width="30px" alt="">
        </div>

    </div>
</div>

<div class="modal fade" id="SerDetails" tabindex="-1" role="dialog" aria-labelledby="createSerLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateSerLabel">Service Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body d-block m-auto" *ngIf="loadingDetails">
          <img src="../../../assets/img/loader/loader.svg" width="30px" alt="" style="filter: invert(1);">
        </div>
        <div class="modal-body" *ngIf="serviceDetails && !loadingDetails">
            <div class="form-group">
                <label for="">Name: </label>
                <strong class="ml-2">{{serviceDetails.name}}</strong>
            </div>
            <div class="form-group">
                <label for="">Description: </label> <br>
                <strong>{{serviceDetails.description}}</strong>
            </div>
            <div class="form-group">
                <label for="">Amount: </label>
                <strong class="ml-2">{{serviceDetails.amount|currency:'₹'}}</strong>
            </div>
        </div>
        <div class="modal-footer">
            <button type="reset" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="updateSer" tabindex="-1" role="dialog" aria-labelledby="createSerLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateSerLabel">Update Service</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="" #f="ngForm" (ngSubmit)="updateService(f)">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label for="">Category</label>
                            <select name="updateScategory" [(ngModel)]="service.category" class="form-control" required>
                                <option *ngFor="let cat of serviceCategory.categories" value="{{cat.id}}" >{{cat.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Name</label>
                            <input type="text" name="updateService" id="" 
                            class="form-control" 
                            [(ngModel)]="service.name" 
                            placeholder="Enter Service Name"
                            required>
                        </div>
                        
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                          <label for="">Amount</label>
                          <input type="text" name="updateSamount" id="" 
                          class="form-control" 
                          [(ngModel)]="service.amount" 
                          placeholder="Enter Service Amount"
                          required>
                        </div>   
                        <div class="form-group">
                            <label for="">Descriptions</label>
                            <textarea class="form-control" 
                            name="updateSdesc" id="" cols="30" rows="5" 
                            [(ngModel)]="service.description" 
                            placeholder="Enter Description of the Service"
                            required></textarea>
                        </div>
                             
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <button type="submit" class="btn btn-primary" [disabled]="!f.valid || submit">
              Update
              <img src="../../../assets/img/loader/loader.svg" *ngIf="submit" width="30px" alt="...">
            </button>
            </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal fade" id="createSer" tabindex="-1" role="dialog" aria-labelledby="createSerLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createSerLabel">Create Service</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="" #f="ngForm" (ngSubmit)="createService(f)">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label for="">Category</label>
                            <select name="category" [(ngModel)]="service.category" class="form-control" required>
                                <option *ngFor="let cat of serviceCategory.categories" value="{{cat.id}}" >{{cat.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Name</label>
                            <input type="text" name="service" 
                            class="form-control" 
                            [(ngModel)]="service.name" 
                            placeholder="Enter Service Name"
                            required>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        
                        <div class="form-group">
                            <label for="">Amount</label>
                            <input type="text" name="amout" 
                            class="form-control" 
                            [(ngModel)]="service.amount" 
                            placeholder="Enter Service Amount"
                            required>
                        </div>    
                        <div class="form-group">
                          <label for="">Descriptions</label>
                          <textarea class="form-control" 
                          name="desc" id="" cols="30" rows="5" 
                          [(ngModel)]="service.description" 
                          placeholder="Enter Description of the Service"
                          required></textarea>
                        </div>  
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <button type="submit" class="btn btn-primary" [disabled]="!f.valid || submit">
              Create
              <img src="../../../assets/img/loader/loader.svg" *ngIf="submit" width="30px" alt="">
            </button>
            </div>
        </form>
      </div>
    </div>
  </div>