@import '../../../variables';


.btn-link{
    font-size: 0.8rem;
    color: $dark-blue;
}
.btn-link:hover{
    color: $totalTicketDark;
}
.bold-text{
    font-weight: 600;
}
.modal-content{
    border: unset;
    border-radius: 0.8rem;
    overflow: hidden;
}
.createSer{
    margin: 2rem 5rem;
    .panel{
        background: white;
        border-radius: 0.1rem;
        tbody tr{
            font-size: 0.8rem;
        }
    }
    .myBtn{
        padding: 0.6rem 7rem;
    }
    label{
        font-family: 'Lato',sans-serif;
        font-size: 0.8rem;
        font-weight: 500;
        margin-bottom: 0.3rem;
        color: $dark-blue;
    }
    .heading{
        font-family: $headingFont;
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 1rem;
    }
    
}
.loader img{
    fill: #000;
    filter: invert(1);
}
.btn-outline-primary-new{
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0.72rem;
    font-size: 0.85rem;
    font-weight: 300;
    padding: 0.5rem 1rem;
    font-family: "Montserrat", sans-serif;
    background: $dark-blue;
    color: white;
    border: 1px solid $dark-blue;
}

tr td,th{
    vertical-align: middle;
}