@import '../../../variables';


.btn-link{
    font-size: 0.8rem;
    color: $dark-blue;
}
.btn-link:hover{
    color: $totalTicketDark;
}

.modal-content{
    border: unset;
    border-radius: 0.8rem;
    overflow: hidden;
}
.createSer{
    margin: 2rem 5rem;
    min-height: 100vh;
    height: 100%;
    .panel{
        background: white;
        padding: 0.2rem;
        border-radius: 0.1rem;
        box-shadow: 0rem 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
        tbody tr{
            font-size: 0.8rem;
        }
    }
    .myBtn{
        padding: 0.6rem 7rem;
    }
    label{
        font-family: 'Lato',sans-serif;
        font-size: 0.8rem;
        font-weight: 500;
        margin-bottom: 0.3rem;
        color: $dark-blue;
    }
    .heading{
        font-family: $headingFont;
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 2rem;
    }
    
}