<div class="chatbox">
    <div class="chatInput">
        <button class="attBtn" id="attachement">
            <img src="../../../../../assets/img/icons/attachment.png" width="100%" alt="att">
            <input type="file" name="attachment" #attachment (change)="uploadDoc()">
        </button>
        <input type="text" 
            name="text" (keyup.enter)="sendMessage()" 
            autocomplete="off" 
            [(ngModel)]="chat.text" 
            id="messages" class="chatText" placeholder="Type your message...">
        <button class="attBtn" (click)="sendMessage()">
            <img src="../../../../../assets/img/icons/send.png" width="100%" alt="att">
        </button>
    </div>
    <div class="chatList" id="chatboxlist" #chatboxlist>
        <ng-template ngFor let-chat [ngForOf]="allChats.messages" let-i=index>
            <div class="date-header sticky-top" *ngIf="chat.state">
                {{chat.state|date}}
            </div>
            <div class="date-header sticky-top" *ngIf="chat.currentState">
                {{chat.currentState}}
            </div>
            <div class="operator" *ngIf="chat.is_client!=false && chat.message_type=='Text'">
                <div class="title" [hidden]="!chat.unique">{{chat.sender_name||'-'}}</div>
                <div class="text-bubble" [class.uniqueOperator]="chat.unique">
                    {{chat.text || '-'}}
                    <div class="footer">{{chat.created_at|utcToist|date:'shortTime'}}</div>
                </div>
            </div>
            
            <div class="operator fileOperator file" *ngIf="chat.is_client!=false && (chat.message_type=='Document' || chat.message_type=='Image')">
                <div class="preview" *ngIf="chat.preview.thumb_url">
                    <img src="{{chat.preview.thumb_url}}" alt="" width="100%">
                </div>
                <div class="header">
                    <div class="wrapper">
                        <div class="icon">
                            <img src="{{chat.preview.format=='pdf'?fileFormates[0]:fileFormates[3]}}" alt="" width="100%">
                            <img src="{{chat.preview.format=='txt'?fileFormates[1]:fileFormates[3]}}" alt="" width="100%">
                            <img src="{{chat.preview.format=='zip'?fileFormates[2]:fileFormates[3]}}" alt="" width="100%">
                            <img src="{{chat.preview.format=='word'?fileFormates[4]:fileFormates[3]}}" alt="" width="100%">
                            <img src="{{chat.preview.format=='excel'?fileFormates[5]:fileFormates[3]}}" alt="" width="100%">
                        </div>
                        <div class="title">{{chat.preview.name}}</div>
                    </div>
                    <div class="downloadBtn">
                        <span class="material-icons colorWhite" (click)="downloadDoc(chat)">
                            arrow_circle_down
                        </span>
                        <a #download></a>
                    </div>
                </div>
                <div class="body">
                    <div class="text">{{chat.preview.size}} • {{chat.preview.format}} </div>
                    <div class="time">{{chat.created_at|utcToist|date:'shortTime'}} </div>
                </div>
            </div>

            <div class="you" *ngIf="chat.is_client!=true && chat.message_type=='Text'">
                <div class="title" [hidden]="!chat.unique">{{chat.sender_name}}</div>
                <div class="text-bubble" [class.uniqueUser]="chat.unique">
                    {{chat.text}}
                    <div class="footer">
                        <span>{{chat.created_at|utcToist|date:'shortTime'}}</span>
                        <span class="material-icons ml-1" style="font-size: inherit;">done</span>
                    </div>
                </div>
            </div>

            <div class="you fileClient file" *ngIf="chat.is_client!=true &&  (chat.message_type=='Document' || chat.message_type=='Image')">
                <div class="preview" *ngIf="chat.preview.thumb_url">
                    <img src="{{chat.preview.thumb_url}}" alt="" width="100%">
                </div>
                <div class="header">
                    <div class="wrapper">
                        <div class="icon">
                            <img src="{{chat.preview.format=='pdf'?fileFormates[0]:fileFormates[3]}}" alt="" width="100%">
                            <img src="{{chat.preview.format=='txt'?fileFormates[1]:fileFormates[3]}}" alt="" width="100%">
                            <img src="{{chat.preview.format=='zip'?fileFormates[2]:fileFormates[3]}}" alt="" width="100%">
                            <img src="{{chat.preview.format=='word'?fileFormates[4]:fileFormates[3]}}" alt="" width="100%">
                            <img src="{{chat.preview.format=='excel'?fileFormates[5]:fileFormates[3]}}" alt="" width="100%">
                        </div>
                        <div class="title">{{chat.preview.name}}</div>
                    </div>
                   
                    <div class="downloadBtn">
                        <span class="material-icons colorDark" (click)="downloadDoc(chat)">
                            arrow_circle_down
                        </span>
                    </div>
                </div>
                
                <div class="body DarkBgColor text-light">
                    <div class="text">{{chat.preview.size}} • {{chat.preview.format}} </div>
                    <div class="time">{{chat.created_at|utcToist|date:'shortTime'}} </div>
                </div>
            </div>
        </ng-template>
        
        
    </div>
</div>