@import '../../../variables';
.colorWhite{
    color: white;
}
.colorDark{
    color: $dark-blue;
}
.DarkBgColor{
    background-color: $dark-blue !important;
}
.date-header{
    font-size: 0.7rem;
    border-radius: 1rem;
    text-align: center;
    display: block;
    margin: auto;
    width: max-content;
    padding: 0.3rem 1rem;
    background-color: #8c99f2;
    color: white;
}
.chatbox{
    position: relative;
    padding-left: 0.7rem;
    height: 100%;
    background: linear-gradient(to top, #eeeeff, transparent),url('../../../assets/img/chat/chat-bg.png') center;
    background-size: cover;
    
    .chatInput{
        position: absolute;
        bottom: 0;
        display: flex;
        border-top: 2px solid #ccc;
        border-bottom: 2px solid #ccc;
        border-radius: 1.5rem;
        background: white;
        width: 100%;
        left: 0.3rem;
        z-index: 2;
        #attachement{
            position: relative;
        }
        .attBtn{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 3rem;
            border-radius: 999px;
            border: 0rem solid;
            background: $dark-blue;
            cursor: pointer;
            padding: 0.8rem;
            input[type=file]{
                position: absolute;
                top: 0;
                width: 3rem;
                height: 3rem;
                opacity: 0;
                border-radius: 999px;
                cursor: pointer;
            }
        }
        .chatText{
            font-size: 0.7rem;
            border: 0 solid;
            outline: none;
            width: 100%;
            padding: 0 1rem;
        }
    }

    .chatList{
        height: 73vh;
        max-height: 88vh;
        overflow-y: auto;
        margin-bottom: 50px;
        font-family: 'Lato', sans-serif;
        .operator{
            margin: 0.7rem 0;
            .title{
                font-size: 0.6rem;
                text-align: left;
                color: #808080;
            }
            .text-bubble{
                position: relative;
                padding: 0.5rem 1rem 0.2rem 0.5rem;
                border-radius: 1rem;
                box-shadow: 0rem 1px 1px rgba(0, 0, 0, 0.2);
                font-size: 0.7rem;
                color: white;
                text-align: left;
                max-width: 80%;
                display: inline-block;
                letter-spacing: 0.5px;
                background: #02024c;
                .footer{
                    margin-top: 0.5rem;
                    padding: 0.1rem;
                    padding-right: 10px;
                    font-size: 0.6rem;
                    color: $chatDate;
                    text-align: right;
                }
            }
        }
        .you{
            margin: 0.7rem 0.5rem 0.7rem 0rem;
            .title{
                font-size: 0.6rem;
                text-align: right;
                color: #808080;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }
            .text-bubble{
                position: relative;
                padding: 0.5rem 0.5rem 0.2rem 1rem;
                border-radius: 1rem; 
                box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.1) ;
                font-size: 0.7rem;
                color: #595959;
                text-align: right;
                width: max-content;
                max-width: 80%;
                letter-spacing: 0.5px;
                background: #fff;
                display: block;
                margin-left: auto;
                .footer{
                    margin-top: 0.5rem;
                    padding: 0.1rem;
                    font-size: 0.6rem;
                    color: $chatDateDark;
                    text-align: right;
                }
            }
        }
        .file{
            position: relative;
            padding: 0.5rem;
            border-radius: 0.6rem; 
            font-size: 0.7rem;
            color: white;
            width: 80%;
            margin-bottom: 0.7rem;
            box-shadow: 0rem 1px 1px rgba(0, 0, 0, 0.2) ;
            letter-spacing: 0.5px;
            .header{
                display: flex;
                justify-content: space-between;
                padding: 0.3rem 0;
                .wrapper{
                    display: flex;
                    width: 90%;
                    flex-direction: row;
                    align-items: center;
                    .icon{
                        width: 15px;
                        height: 15px;
                        overflow: hidden;
                    }
                    .title{
                        color: black;
                        font-size: 0.7rem;
                        margin-left: 0.5rem;
                        width: 80%;
                        overflow: hidden;
                        text-align: left;
                        white-space: nowrap;
                        text-overflow: ellipsis;                       
                    }
                }
                
                .downloadBtn{
                    width: 20px;
                    height: 20px;
                    padding: 0.2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    a{
                        .material-icons{
                            font-size: 22px;
                        }
                    }
                }
            }
            .body{
                display: flex;
                width: 100%;
                color: #aaa;
                padding:0.3rem;
                font-size: 0.6rem;
                background: white;
                margin-top: 0.3rem;
                border-radius: 0.3rem;
                justify-content: space-between;
            }
            .preview{
                max-height: 7rem;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                img{
                    border-radius: 0.3rem;
                    height: 7rem;
                    object-fit: cover;
                }
            }
        }
        .fileOperator{
            display: block;
            margin-right: auto;
            background: $dark-blue;
            .header{
                .wrapper{
                    .title{
                        color: white;
                    }
                }
            }
        }
        .fileClient{
            display: block;
            margin-left: auto;
            margin-right: 10px;
            background-color: #fff;
            box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.1) ;
        }        
    }
}

.uniqueOperator{
    border-radius: 0 1.2rem 1.2rem 1.2rem !important;
}
.uniqueUser{
    border-radius: 1.2rem 0 1.2rem 1.2rem !important; 
}

@media (min-width:1500px){
    .chatbox .chatList{
        height: 79vh;
    }
}