<div class="changePassword">
    <!-- <div class="heading">
        Change your Password
    </div> -->
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <!-- <p class="text-muted">Password must contain:</p> -->
            <form #f="ngForm" (ngSubmit)="resetPassword(f)">
                <div class="form-group">
                    <label for="">Old Password *</label>
                    <input type="password" name="oldpassword" required [(ngModel)]="password.old_password" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">New Password *</label>
                    <input type="password" name="newpassword" required [(ngModel)]="password.password" class="form-control" >
                </div>
                <div class="form-group">
                    <label for="">Confirm New Password *</label>
                    <input type="password" name="confirmpassword" required [(ngModel)]="password.confirm_password" class="form-control" >
                </div>
                <div class="form-group mt-5">
                    <button type="submit" [disabled]="f.invalid" class="btn btn-primary px-4">Submit</button>
                </div>
            </form>
            <!-- <ul class="inst">
                <li>Atleast 6 characters</li>
                <li>Atleast 1 uppercase character (A to Z)</li>
                <li>Atleast 1 lowercase character (a to z)</li>
                <li>Atleast 1 numeric character (0 to 9)</li>
            </ul> -->
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            
        </div>
    </div>
</div>
