<div class="totalTickets">
    <div class="header">
        Total Tickets
    </div>
    <div class="ticketCard-wrapper">
        <div class="ticketCard">
            <circle-progress
            [percent]="85"
            [radius]="60"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'rgb(28, 28, 85)'"
            [innerStrokeColor]="'rgba(28, 28, 85, .5)'"
            [animation]="true"
            [animationDuration]="300"
            ></circle-progress>
            <div class="subtitle">
                TOTAL TICKETS
            </div>
            <div class="title">
                CURRENT MONTH
            </div>
        </div>
        <div class="ticketCard">
            <circle-progress
            [percent]="85"
            [radius]="60"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            ></circle-progress>
            <div class="subtitle">
                TOTAL TICKETS
            </div>
            <div class="title">
                LAST MONTH
            </div>
        </div>
    </div>
    
    
</div>
