@import '../../../variables';

.minimizedChatBox{
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
    width: 82%;
    .actual{
        display: flex;
        justify-content: center;
    }
    .chatbox{
        border-radius: 1rem 1rem 0 0;
        padding: .5rem 1rem;
        color: white;
        display: flex;
        width: 15rem;
        margin-left: 1rem;
        background: $dark-blue;
        &:hover{
            background-color: $totalTicketDark;
            cursor: pointer;
        }
        .content{
            cursor: pointer;
            .name{
                font-size: 0.8rem;
                margin-right: .5rem;
            }
            .service{
                margin-left: .5rem;
                font-size: 0.6rem;
                color: #aaa;
            }
        }
        .avatar{
            border-radius: 5rem;
            width: 30px;
            height: 30px;
        }
        .avatar img{
            border-radius: 5rem;
        }
    }
}