@import '../../../../../variables';

.ongoingticket{
    padding: 0.5rem 0;
    font-family: 'Open Sans', sans-serif;
    .heading{
        padding: 1rem;
        margin-bottom: 0.5rem;
        span{
            font-size: 0.8rem;
            font-weight: bold;
        }
        .myBtn{
            float: right;
            font-size: 0.6rem !important;
            padding: 0.5rem 1rem !important;
        }
        
    }
    .row, .col-sm-4, .col-md-4{
        padding: 0 !important;
        margin: 0 !important;
    }
    .list-group{
        padding:0.8rem !important;
        overflow-y: auto;
        max-height: 40vh;
        .list-group-item{
            padding:0.7rem 1.5rem !important;
            margin-bottom: 1rem;
            border-radius: 1rem;
            border: unset !important;
            background: #8c9af213;
            
        }
    }
    #gbtn{
        padding: 0.5rem 0.7rem !important;
        font-size: 0.7rem !important;
        background: $ongoingTicketDark;
        float: right;
        margin-top: 0.2rem;
    }
    .myBtnInfo{
        font-size: 0.5rem !important;
        background: white !important;
        padding: 0.4rem 0.6rem !important;
        color: black !important;
        font-weight: bold;
        margin: 0.2rem auto auto auto;
        display: block;
        
    }
    .title{
        font-size: 0.9rem;
        font-weight: bold;
        color: $dark-blue;
    }
    .subtitle{
        font-size: 0.7rem;
        color: $ongoingTicketFontColor;
        font-weight: 500;
        line-height: 1.5rem;
    }
}

.modal-dialog{
    border-radius: 0.5rem;
}
.modal-body{
    padding: 2rem 3rem !important;
    max-height: 70vh !important;
    overflow: hidden;
    font-size: 0.8rem;
    .text-right{
        font-weight: 500;
    }
}
.modal-content{
    border: 0px solid;
    border-radius: 0.5rem;
}