<div class="document">
    <div class="heading">
        <span>Document</span>
        <button class="myBtn">Upload Document</button>
    </div>
    <button class="redBtn">Create New Folder</button>
    <ul class="list-group">
        <div class="list-group-item">
            Form 16A/16B/16C
        </div>
        <div class="list-group-item">
            Salary Slips
        </div>
        <div class="list-group-item">
            Tax Saving Investments
        </div>
        <div class="list-group-item">
            Form 26AS   
        </div>
        <div class="list-group-item">
            Home Loan Statement
        </div>
    </ul>
</div>
