.row, .col-sm-2, .col-md-2, .col-sm-3, .col-sm-4, .col-sm, 
.col-md, .col-sm-9, .col-sm-8, .col-md-8{
    padding: 0;
    margin: 0;
}

.document{
    padding: 1rem;
    
}
.heading span{
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
}
.redBtn{
    width: 100%;
    margin: 1rem 0;
    padding:  0.4rem 1.2rem;
    font-size: 0.7rem;
}
.redBtn .icon{
    margin-right: 0.5rem;
}
.btntxt{
    line-height: 1rem;
}
.myBtn{
    font-size: 0.6rem !important;
    padding: 0.2rem 0.5rem !important;
    float: right;
    border-radius: 0.5rem !important;
}
.redBtn span{
    width: 30px;
}

.list-group{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 12rem;
}
#fileList{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 70vh;
    height: 100%;
    border-right: 1px solid #ccc;
}
#fileBody{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 70vh;
    height: 100%;
}
#fileList .list-group-item{
    font-size: 0.8rem;
    transition: all ease .2s;
    margin-bottom: 0.3rem;
    cursor: pointer;
    font-family: 'Lato',sans-serif;
}
#fileList .list-group-item:hover{
    transition: all ease .2s;
    background: rgba(170, 170, 170, 0.473);
}
.list-group-item{
    padding: 0.4rem 0.6rem;
    font-size: 0.65rem;
    border: unset !important;
    font-family: 'Lato', sans-serif;
}

.list-group-item .row{
    overflow: hidden;
    transition: all ease .2s;
}
.list-group-item .row:hover{
    cursor: pointer;
    color: #02024c;    
}
.heading{
    font-family: 'Lato',sans-serif;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.fileUploadBox{
    padding: 5rem 0rem;
    border: 2px dotted #ccc;
    border-radius: 0.8rem;
    margin: 1.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fileUploadBox .fileWrapper{
    height: 120px;
    width: 120px;
    border-radius: 999px;
    background: url('../../../../../../../assets/img/icons/icons8-upload-100.png') center no-repeat;
    border: 1px solid #02024c;
}
.fileUploadBox .fileWrapper:active{
    transition: all ease .2s;
    transform: scale(0.9);
}
.fileUploadBox .fileWrapper #files{
    height: 120px;
    width: 120px;
    border-radius: 999px;
    opacity: 0;
}
#fileToUpload{
    margin: 1.5rem 0;
    overflow-y: auto;
    max-height: 18rem;
    height: 100%;
}
#fileToUpload .list-group-item{
    font-size: 0.8rem;
    border: 1px solid rgb(230, 230, 230) !important;
    margin: 0.2rem 0;
    border-radius: 0.3rem;
    
}
.uploadProgress{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    font-size: 0.7rem;
}
.fileLogo{
    width: 20%;
    margin-top: 1rem;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0rem solid !important;
    margin: 1rem;
}
.card:hover{
    transition: all ease .2s;
    border: 1px solid #aaa;
    box-shadow: .1rem .1rem .5rem #ccc;
}
.card-body{
    padding: 0rem !important;

}
.close{
    color: white !important;
}
.close:hover{
    color: #ccc !important;
}
.modal-header{
    background: #02024c !important;
    color: white !important;
    padding: 0.5rem 1rem;
}
.card-title{
    font-size: 0.8rem;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    padding: 0 5rem;
    -webkit-box-orient: vertical;
    
}
// Dialog Box Styling...
#createFolder .modal-body{
    padding: 2rem !important;
}


.list-group-item:first-child,.list-group-item:last-child  {
    border-radius: 0 !important;
}

.modal-dialog{
    max-width: 65vw !important;
    border-radius: 0.5rem;
}
.modal-body{
    padding:0rem 0 !important;
    max-height: 70vh !important;
    overflow: hidden;

}
.modal-content{
    border: 0px solid;
    border-radius: 0.5rem;
}
#showFolder{
    border: 0rem solid !important;
}

.FolderActive{
    background: #ccc;
    font-weight: bold;
}
.dragging{
    transition: all ease .2s;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    padding: 0.2rem 0.1rem;
    box-shadow: .1rem .1rem .3rem #ccc;
}