
<!-- <div class="overlay" *ngIf="windowState=='opened'"></div> -->
<!-- [@maximize]="windowState == 'opened'?'maximized':''"  -->

<div class="client shadow"  
[@slideUp]="windowState == 'opened'?'opened':''"
[@slideDown]="windowState == 'minimized'?'minimized':''">
    <div class="header d-flex">
        {{userState.user.name || '-'}} • {{userState.user.email || '-'}} • {{userState.user.phone || '-'}}
        <div class="ml-auto">
            <button class="close ml-2" (click)="close()">
                <span class="material-icons">
                    clear
                </span>
            </button>
            <button class="close" (click)="minimize()">
                <span class="material-icons">
                    minimize
                </span>
            </button>
        </div>
        
    </div>
    <div class="wrapper">
        <app-client-sidebar [chatData]="chatData" [userServiceData]="userServiceData"></app-client-sidebar>
        <app-client-main [chatData]="chatData" (change)="getTicketData($event)"></app-client-main>
        <app-chatbox [chatData]="chatData"></app-chatbox>
    </div>
</div>

