<div class="profile">
    <div class="avatar">
        <img src="../../../../../../../assets/img/unnamed.jpg" alt="named" width="100%">
    </div>
    <div class="name">John Doe</div>
    <div class="details">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm">
                <span>9876543210</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm">
                <span>diwalarp@gmail.com</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm">
                <span>Kolkata</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm">
                <span>Software Engineer at Wipro</span>
            </div>
        </div>
    </div>
</div>