@import '../../../variables';

.createNotify{
    margin: 2rem 5rem;
    height: 100vh;
    .myBtn{
        padding: 0.5rem 7rem;
    }
    .heading{
        font-family: $headingFont;
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 2rem;
    }
    .card{
        border-radius: 0;
        border: unset;
        position: relative;
        .card-body{
            padding: 0;
            height: 320px;
            img{
                height: 320px;
                object-fit: cover;
            }
        }
        .tint{
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(rgba(0, 0, 0, 0.1) 60%,rgba(0, 0, 0, 1));
            .content{
                padding: 1rem;
                position: absolute;
                bottom: 0;
                display: flex;
                width: 100%;
                justify-content: space-between;
                .file-uploader{
                    border: 1px solid #aaa;
                    border-radius: 10rem;
                    cursor: pointer;
                    position: relative;
                    color: white;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .file-uploader input[type=file]{
                    width: 50px;
                    height: 50px;
                    top: 0;
                    left: 0;
                    position: absolute;
                    border-radius: 10rem;
                    opacity: 0;
                }
                .title{
                    color:white;
                }
                .description{
                    color:white;
                    font-size: 0.8rem;
                }
            }
        }
    }
}

.notif{
    font-size: 0.78rem;
    color: #aaa;
}