@import '../../../variables';

.row .col-sm-6 .col-md-6 .col-lg-6{
    padding: 0;
    margin: 0;
}

form{
    margin: 2rem 5rem;
}

.form{
    margin-top: 2rem;
    .heading{
        font-family: $headingFont;
        font-weight: 400;
    }
    
}
.form-group{
    margin-bottom: 2rem;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}