<div class="clientList">
    <div class="clientList-card">
        <div class="row pb-2 border-bottom">
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="content">
                    <div class="avatar">
                        <img src="../../../assets/img/unnamed.jpg" width="100%"  alt="">
                    </div>
                    <div class="text">
                        Marry Williams 
                    </div>
                </div>
            </div>
            <div class="col-sm-9 col-md-9 col-lg-9">
                <div class="content">
                    <div class="leftSide">
                        <div class="wrap">
                            <div class="icon">
                                <img src="../../../assets/img/icons/phone.png" width="100%" alt="">
                            </div>
                            <div class="text">
                                9876543210
                            </div>
                        </div>
                        <div class="wrap">
                            <div class="icon">
                                <img src="../../../assets/img/icons/mail.png" width="100%" alt="">
                            </div>
                            <div class="text">
                                sample@gmail.com
                            </div>
                        </div>
                    </div>
                    <div class="rightSide">
                        Online
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-2" id="lowerRow">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="content">
                    <div class="totalTicket">
                        <img src="../../../assets/img/operator/total-ticket.png" width="100%" alt="">
                        <div>Total Ticket</div>
                    </div>
                    <div class="count">
                        15
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="content">
                    <div class="totalTicket">
                        <img src="../../../assets/img/operator/ongoing-ticket.png" width="100%" alt="">
                        <div>Ongoing Ticket</div>
                    </div>
                    <div class="count">
                        15
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="content border-0">
                    <div class="totalTicket">
                        <img src="../../../assets/img/operator/closed-ticket.png" width="100%" alt="">
                        <div>Closed Ticket</div>
                    </div>
                    <div class="count">
                        15
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clientList-card">
        <div class="row pb-2 border-bottom">
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="content">
                    <div class="avatar">
                        <img src="../../../assets/img/unnamed.jpg" width="100%"  alt="">
                    </div>
                    <div class="text">
                        Marry Williams 
                    </div>
                </div>
            </div>
            <div class="col-sm-9 col-md-9 col-lg-9">
                <div class="content">
                    <div class="leftSide">
                        <div class="wrap">
                            <div class="icon">
                                <img src="../../../assets/img/icons/phone.png" width="100%" alt="">
                            </div>
                            <div class="text">
                                9876543210
                            </div>
                        </div>
                        <div class="wrap">
                            <div class="icon">
                                <img src="../../../assets/img/icons/mail.png" width="100%" alt="">
                            </div>
                            <div class="text">
                                sample@gmail.com
                            </div>
                        </div>
                    </div>
                    <div class="rightSide">
                        Online
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-2" id="lowerRow">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="content">
                    <div class="totalTicket">
                        <img src="../../../assets/img/operator/total-ticket.png" width="100%" alt="">
                        <div>Total Ticket</div>
                    </div>
                    <div class="count">
                        15
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="content">
                    <div class="totalTicket">
                        <img src="../../../assets/img/operator/ongoing-ticket.png" width="100%" alt="">
                        <div>Ongoing Ticket</div>
                    </div>
                    <div class="count">
                        15
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="content border-0">
                    <div class="totalTicket">
                        <img src="../../../assets/img/operator/closed-ticket.png" width="100%" alt="">
                        <div>Closed Ticket</div>
                    </div>
                    <div class="count">
                        15
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
