.row, .col-sm-3, .col-md-3, .col-lg-3,
.col-sm-4, .col-md-4, .col-lg-4{
    padding: 0;
    margin: 0;
}
.clientList{
    padding: 1.2rem 5rem;
}
.header{
    justify-content: flex-end;
    margin-bottom: 1.2rem;

}
.table{
    background-color: #fff;
}
.table tr{
    cursor: pointer;
}
.table tr td{
    padding: 1.2rem 1rem;
    vertical-align: middle;
}
.clientList-card{
    background: white;
    border-radius: 2rem;
    overflow: hidden;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0.5rem 0.5rem 1rem #f0f5ffa4;
    transition: all ease .2s;

    &:hover{
        transition: all ease .2s;
        box-shadow: 0.5rem 0.5rem 1rem #cfcfcf46 !important;
        cursor: pointer;
    }
    &:active{
        transition: all ease .2s;
        box-shadow: 0.3rem 0.3rem 1rem #cfcfcfad !important;
        cursor: pointer;
    }
    .content{
        display: flex;
        line-height: 2rem;
        flex-direction: row;
        align-items: center;
        .text{
            line-height: 2rem;
            font-size: 1.1rem;
            font-family: "Lato", sans-serif;
            padding: 0 0.5rem;
            font-weight: bold;
            letter-spacing: 0.3px;
            margin-top: 0.3rem;
            color: #595959;
        }
        .avatar{
            width: 40px;
            height: 40px;
            border-radius: 999px;
            overflow: hidden;
            display: flex;
            margin-right: 1rem;
            justify-content: center;
        }
        .leftSide{
            display: flex;
            justify-content: space-between;
            .wrap{
                display: flex;
                padding: 0 0.5rem;
                flex-direction: row;
                align-items: center;
                .icon{
                    width: 15px;
                    // height: 15px;
                }
                .text{
                    line-height:unset;
                    font-size: 0.8rem;
                    letter-spacing: 1px;
                    color: #808080;
                    font-family: 'Lato', sans-serif;
                }
            }
        }
        .rightSide{
            display: block;
            margin-left: auto;
            color: green;
            font-weight: bold;
            font-size: 0.8rem;
        }

        
    }
}
.bold-text{
    font-weight: 700;
}

.pagination {
    justify-content: flex-end;
}
.pagination-previous button,.pagination-next button{
    padding: 0.3rem 0.8rem;
    margin-left: 0.2rem;
    border-radius: 6px;
    border: 1px solid #aaa;
}
.pagination .page-item a{
    padding: 0.3rem 0.8rem;
    margin-left: 0.2rem;
    border-radius: 6px;
    display: block;
    cursor: pointer;
    border: 1px solid #aaa;
}
.current {
    padding: 0.3rem 0.8rem;
    margin-left: 0.2rem;
    border-radius: 6px;
    cursor: pointer;
    background: #02024c;
    color: white;
    border: 1px solid #02024c;
}
.bar{
    border-right: 1px solid #dee2e6 ;
}

.pad10{
    padding-left: 1rem;
}
.totalTicketColor{
    color: #464690 !important;
    font-size: 1rem !important;
}
.ongoingTicketColor{
    color: #38b1e4 !important;
    font-size: 1rem !important;

}
.closedTicketColor{
    color: #fe7191 !important;
    font-size: 1rem !important;

}