<div class="ticketCardWrapper">
    <div class="ticketCard" id="totalT">
        <div class="logo">
            <img src="../../../../../../../assets/img/icons/total-ticket.png" width="100%" alt="totalTickets">
        </div>
        <div class="content">
            <div class="title">{{total}}</div>
            <div class="subtitle">Total Tickets</div>
        </div>
    </div>
    <div class="ticketCard" id="ongoingT">
        <div class="logo">
            <img src="../../../../../../../assets/img/icons/ongoing-ticket.png" width="100%" alt="totalTickets">
        </div>
        <div class="content">
            <div class="title">{{ongoing}}</div>
            <div class="subtitle">Ongoing Tickets</div>
        </div>
    </div>
    <div class="ticketCard" id="closedT">
        <div class="logo">
            <img src="../../../../../../../assets/img/icons/closed-ticket.png" width="100%" alt="totalTickets">
        </div>
        <div class="content">
            <div class="title">{{closed}}</div>
            <div class="subtitle">Closed Tickets</div>
        </div>
    </div>
</div>
