<div class="document">
    <div class="heading d-flex">
        <span class="title">Documents</span>
        <span class="material-icons ml-auto reload" (click)="reload()">
            autorenew
        </span>
        <!-- <button class="btn btn-primary btn-sm ml-auto" data-toggle="modal" data-target="#uploadDocuments">Upload</button> -->
    </div>
    <button class="btn btn-danger-theme btn-block" (click)="showCreateFolderDialog()" *ngIf="role == 'Admin'">
        <span class="icon mr-2">
            <img src="../../../../../../../assets/img/icons/folder-white.png" width="12px" alt="folder">
        </span>
        <span >Create New Folder</span>
    </button>
    <ul class="list-group mt-2">
        <div class="list-group-item" *ngFor="let folders of foldersAndDocs.folders;index as i">
            <div class="row" 
                dndDropzone
                (dndDrop)="onDrop($event, folders.id)"
                [dndDragoverClass]= "draggable.class"
                dndPlaceholderRef>
                <div class="col-sm-2 col-md-2">
                    <div class="deleteFolder" *ngIf="folders.canDelete && folders.documents.length == 0" (click)="confirmDelete(folders.id)">
                        <span class="material-icons del" style="font-size: inherit;">clear</span>
                    </div>
                    <img src="../../../../../../../assets/img/icons/folder-purple.png" width="12px" alt="folder">
                </div>
                <div class="col-sm col-md" (click)="viewFolder(folders.id, i)">
                   <span>{{folders.folder}}</span>
                   <span style="float: right;">{{folders.documents.length}}</span>
                </div>
            </div>
        </div>
        
    </ul>
</div>
<!-- Button trigger modal -->

<div class="modal fade createFolder" id="createFolder_{{clientData.clientId}}" data-backdrop="false" 
tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog shadow-lg dialogMargin" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create Folder</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form #f="ngForm" (ngSubmit)="createFolder(f)">
            <div class="modal-body">
                <div class="form-group">
                    <label for="folderName">Folder Name </label>
                    <input type="text" class="form-control" name="folderName" required [(ngModel)]="folderM.folder" placeholder="Enter folder name">
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" [disabled]="f.invalid || submitFolder"  class="btn btn-primary">
                    Save changes
                    <img src="../../../assets/img/loader/btnLoader.svg" *ngIf="submitFolder" width="30px" alt="loading">
                </button>
            </div>
        </form>
    </div>
    </div>
</div>

<div class="modal fade" 
    id="uploadDocuments_{{clientData.clientId}}" 
    data-backdrop="false" 
    tabindex="-1" 
    role="dialog" 
    style="z-index: 3000;"
    aria-labelledby="exampleModalLabel" 
    aria-hidden="true">
    <div class="modal-dialog modal-xl shadow-lg" role="document" style="width: 800px;">
        <div class="modal-content" >
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Upload File</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form #uploadDoc="ngForm" (ngSubmit)="uploadDocuments(uploadDoc)">
            <div class="modal-body">
                <div class="row">
                    <div class="co-sm-5 col-md-5">
                        <div class="fileUploadBox">
                            <div class="fileWrapper">
                                <input type="file" id="files" name="document" #documentFile (change)="showfiles()" multiple required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="selectF">Select Folder</label>
                            <select class="form-control" id="selectF" name="select" [(ngModel)]="folderId">
                                <option *ngFor="let folders of foldersAndDocs.folders; index as i" value="{{folders.id}}">{{folders.folder}}</option>
                            </select>
                        </div>
                        
                    </div>
                    <div class="co-sm-7 col-md-7">
                        <div class="mt-4" *ngIf="documentFileList.length == 0">
                            <p class="text-muted text-center">Select Document to Upload</p>
                        </div>
                        <ul class="list-group mt-4" id="fileToUpload">
                            <li class="list-group-item d-flex justify-content-between" 
                            *ngFor="let file of documentFileList; index as i">
                               <strong>{{file.name}}</strong>
                               <div class="">{{(file.size/1024)/1024|number:'1.1-2'}} MB 
                                   <!-- <span class="material-icons" (click)="delDoc(i)">clear</span> -->
                               </div>
                            </li>
                        </ul>
                        <div class="uploadProgress" *ngIf="documentFileList.length">
                            <div class="totalFile">{{documentFileList.length}} File(s) selected</div>
                            <div class="prog" *ngIf="progress.complete">{{progress.width}}</div>
                            <div class="complete" *ngIf="progress.complete">File Upload Completed.</div>
                        </div>
                        <div class="progress" style="height: 3px;" *ngIf="isProgress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated"
                            role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" [style.width]="progress.width"></div>
                        </div>
                    </div>
                </div>   
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" [disabled]="uploadDoc.invalid || submitDoc">
                    Upload
                    <img src="../../../assets/img/loader/btnLoader.svg" *ngIf="submitDoc" width="30px" alt="loading">
                </button>
            </div>
        </form>
    </div>
    </div>
</div>

<div class="modal fade" data-backdrop="false"  id="showFolder_{{clientData.clientId}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog shadow-lg borderless modal-xl" role="document" style="width: 950px;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{filesInFolder.folder || '-'}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-3">
                    <ul class="list-group" id="fileList">
                        <div class="list-group-item" *ngFor="let folders of foldersAndDocs.folders; index as i" id="fol_{{folders.id}}" (click)="showFilesFolder(folders.id)">
                            <div class="row"
                                dndDropzone
                                [dndDragoverClass]= "draggable.class"
                                (dndDrop)="onDrop($event, folders.id)"
                                dndPlaceholderRef
                            >
                                <div class="col-sm-2 col-md-2 text-center">
                                    <img src="../../../../../../../assets/img/icons/folder-purple.png" width="12px" alt="folder">
                                </div>
                                <div class="col-sm col-md">
                                    <span>{{folders.folder || '-'}}</span>
                                </div>
                                <div class="col-sm-2 col-md-2 text-center">
                                    <span>{{folders.documents.length||0}} </span>
                                </div>
                            </div>
                        </div>
                    </ul>
                </div>
                <div class="col-sm-9" id="fileBody">
                    <div class="py-4 text-center" *ngIf="filesInFolder.documents.length==0">
                        <p class="text-muted text-center">No Files in this folder</p>
                    </div>
                    <div class="loader d-block m-auto" *ngIf="loaderFiles">
                        <img src="../../../assets/img/loader/loader.svg" width="30px" alt="" style="filter: invert(1);">
                    </div>
                    <div class="grid-container">
                        <div class="card p-2"
                            [dndDraggable]="file.id"
                            [dndEffectAllowed]="draggable.effectAllowed"
                            [dndDraggingClass]="draggable.class"
                            *ngFor="let file of filesInFolder.documents;index as i"
                            id="file_{{i}}"
                        >
                        <div class="deleteMany">
                            <input type="checkbox" name="multipleSelectCardCheckbox" id="{{file.id}}" (click)="selectDocToDel(file, i)">
                        </div>
                        <div class="fileLogo" *ngIf="file.format=='zip'">
                            <img src="../../../../../../../assets/img/file icons/icons8-7zip-100.png" width="100%" alt="">
                        </div>
                        <div class="fileLogo" *ngIf="file.format=='jpg'">
                            <img src="../../../../../../../assets/img/file icons/icons8-jpg-100.png" width="100%" alt="">
                        </div>
                        <div class="fileLogo" *ngIf="file.format=='pdf'">
                            <img src="../../../../../../../assets/img/file icons/icons8-pdf-100.png" width="100%" alt="">
                        </div>
                        <div class="fileLogo" *ngIf="file.format=='png'">
                            <img src="../../../../../../../assets/img/file icons/icons8-png-100.png" width="100%" alt="">
                        </div>
                        <div class="fileLogo" *ngIf="file.format=='ppt' || file.format=='pptx'">
                            <img src="../../../../../../../assets/img/file icons/icons8-ppt-100.png" width="100%" alt="">
                        </div>
                        <div class="fileLogo" *ngIf="file.format=='rar'">
                            <img src="../../../../../../../assets/img/file icons/icons8-rar-100.png" width="100%" alt="">
                        </div>
                        <div class="fileLogo" *ngIf="file.format=='docx' || file.format=='doc' || file.format=='txt'">
                            <img src="../../../../../../../assets/img/file icons/icons8-word-100.png" width="100%" alt="">
                        </div>
                        <div class="fileLogo" *ngIf="file.format=='xlsx' || file.format=='xls'">
                            <img src="../../../../../../../assets/img/file icons/icons8-xls-100.png" width="100%" alt="">
                        </div>

                        <div class="fileLogo" *ngIf="file.format!='xlsx' && file.format!='xls' && file.format!='pdf' && file.format!='png' && file.format!='docx' && file.format!='jpg' && file.format!='doc' && file.format!='txt' && file.format!='ppt' && file.format!='pptx' && file.format!='rar'  && file.format!='zip' ">
                            <img src="../../../../../../../assets/img/file icons/icons8-file-512.png" width="100%" alt="">
                        </div>

                        <div class="card-body">
                            <div class="card-title text-center">
                                {{file.name || '-'}}
                            </div>
                            <div class="fontsize07 text-center text-muted">
                                {{file.size || '-'}} • {{file.last_updated || '-'}}
                            </div>
                            <div class="text-center mt-2">
                                <div class="btn-group" role="group">
                                    <a class="btn btn-outline-primary btn-sm" *ngIf="file.format=='png' || file.format=='jpg' || file.format=='pdf'" target="_blank" href="{{file.path}}" download="{{file.path}}">
                                        <span class="material-icons">visibility</span>
                                    </a>
                                    <button class="btn btn-outline-primary btn-sm" (click)="downloadDoc(file)">
                                        <span class="material-icons">get_app</span>
                                    </button>
                                    <button class="btn btn-outline-primary btn-sm" (click)="deleteDocuments(file, i)" >
                                        <span class="material-icons">delete</span>
                                    </button>
                                </div>
                                <a #downloadFile></a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div> 
        </div>
        <div class="modal-footer">
            <div class="form-group d-flex mr-auto mb-0" *ngIf="multipleDocuments.length>0">
                <select name="folderToMoveIn" class="form-control" [(ngModel)]="folderToMoveIn">
                    <option *ngFor="let fol of foldersAndDocs.folders" name="folderOptions" value="{{fol.id}}" >{{fol.folder}}</option>
                </select>
                <button  type="button" class="btn btn-primary btn-sm ml-2" [disabled]="disabledFileMove" 
                (click)="moveMultiple()">MOVE SELECTED ({{multipleDocuments.length||''}})</button>    
            </div>
            <button type="button" class="btn btn-danger btn-sm" (click)="deleteDocuments()" [disabled]="deleteDisable"
            *ngIf="multipleDocuments.length>0">DELETE SELECTED ({{multipleDocuments.length||''}})</button>
            <button type="button" class="btn btn-primary btn-sm" (click)="uploadDocumentDialog()">UPLOAD NEW</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
<!-- Modal -->
<div class="modal fade" data-backdrop="false" id="confirmDeleteFolder_{{clientData.clientId}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog shadow-lg">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body m-3">
        Are you sure you want to delete this folder?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary-outline" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="disableFolderDelete" (click)="deleteFolder()">DELETE</button>
    </div>
    </div>
</div>
</div>








