.row, .col-sm-2, .col-md-2, .col-sm-3, .col-sm-4, .col-sm, 
.col-md, .col-sm-9, .col-sm-8, .col-md-8{
    padding: 0;
    margin: 0;
}
.btn-outline-secondary{
    font-size: 0.8rem;
    .material-icons{
        font-size: 0.9rem;
    }
}
.document{
    padding-right: 0.5rem;
    padding-top: 0.5rem;
}
.heading{
    flex-direction: row;
    align-items: center;
}
.heading .title{
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
}


.list-group{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 21rem;
}
#fileList{
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 70vh;
    border-right: 1px solid #e5e5e5;
}
#fileBody{
    overflow-y: auto;
    overflow-x: hidden;
    height: 70vh;
}
#fileList .list-group-item{
    font-size: 0.8rem;
    transition: all ease .2s;
    margin-bottom: 0.3rem;
    cursor: pointer;
    font-family: 'Lato',sans-serif;
}
#fileList .list-group-item:hover{
    transition: all ease .2s;
    background: rgba(170, 170, 170, 0.3);
}
.list-group-item{
    padding: 0.4rem 0.6rem;
    font-size: 0.75rem;
    border: unset !important;
    font-family: 'Lato', sans-serif;
    color: #808080;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.list-group-item .row{
    overflow: hidden;
    transition: all ease .2s;
}
.list-group-item .row:hover{
    cursor: pointer;
    color: #02024c;    
    font-weight: 600;
    position: relative;
}
.list-group-item .row:hover .deleteFolder{
    display: block;
}
.deleteFolder{
    display: none;
    position: absolute;
    left: 0;
    .del{
        background-color: #c1272d;
        color: #fff;
        border-radius: 2rem;
        padding: 2px;
        font-size: 0.9rem;
    }
}
.heading{
    font-family: 'Lato',sans-serif;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.fileUploadBox{
    padding: 2rem 0rem;
    border: 2px dotted #ccc;
    border-radius: 0.8rem;
    margin: 1.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fileUploadBox .fileWrapper{
    height: 120px;
    width: 120px;
    border-radius: 999px;
    background: url('../../../../../assets/img/icons/icons8-upload-100.png') center no-repeat;
    border: 1px solid #02024c;
}
.fileUploadBox .fileWrapper:active{
    transition: all ease .2s;
    transform: scale(0.9);
}
.fileUploadBox .fileWrapper #files{
    height: 120px;
    width: 120px;
    border-radius: 999px;
    opacity: 0;
}
#fileToUpload{
    margin: 1.5rem 0;
    overflow-y: auto;
    max-height: 18rem;
    height: 100%;
}
#fileToUpload .list-group-item{
    font-size: 0.8rem;
    border: 1px solid rgb(230, 230, 230) !important;
    margin: 0.2rem 0;
    border-radius: 0.3rem;
    
}
.uploadProgress{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    font-size: 0.7rem;
}
.fileLogo{
    width: 20%;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 1.5rem 1rem !important;
    border-radius: 0;
    border-bottom: 1px solid #e5e5e5 !important;
    border-right: 1px solid #e5e5e5 !important;
}
.card:hover{
    transition: all ease .2s;
    cursor: pointer;
    box-shadow: 0 .1rem .5rem #e5e5e5;
}
.card-body{
    padding: 0rem !important;

}
.close{
    color: white !important;
}
.close:hover{
    color: #ccc !important;
}
.modal-header{
    background: #42428e !important;
    color: white !important;
    padding: 0.5rem 1rem;
}
.card-title{
    font-size: 0.8rem;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    width: 80%;
    margin: auto;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    
}
// Dialog Box Styling...
.createFolder .modal-body{
    padding: 2rem !important;
}


.list-group-item:first-child,.list-group-item:last-child  {
    border-radius: 0 !important;
}

.modal-dialog{
    border-radius: 0.5rem;
}
.modal-body{
    padding:0rem 0 !important;
    max-height: 70vh !important;
    overflow: hidden;

}
.modal-content{
    border: 0px solid;
    border-radius: 0.5rem;
}
#showFolder{
    border: 0rem solid !important;
}

.FolderActive{
    background: #e5e5e5;
    font-weight: bold;
}
.dragging{
    transition: all ease .2s;
    padding: 0.2rem 0.1rem;
    border: 1px solid #e5e5e5;
    box-shadow: .1rem .1rem .3rem #efefef;
    margin: 0.5rem;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.dialogMargin{
    margin: 9rem auto;
}


.btn-sm{
    font-size: 0.65rem !important;
    padding: 0.2rem 0.8rem;
  }