@import '../../../variables';

.login{
  height: 100vh;
  width: 100%;
  display: flex;
  
  .leftSide{
    background: $dark-blue;
    height: 100vh;
    width: 55%;
    padding: 3rem;
    color: white;
    .title{
      font-size: 1.4rem;
      font-family: 'Open Sans', sans-serif;
    }
    .content{
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .text{
        font-weight: lighter;
        font-family: $headingFont;
        font-size: 2rem;
        font-weight: 300;

      }
    }
  }
  .rightSide{
    height: 100vh;
    padding: 5rem;
    width: 45%;
    padding-top:18%;
    p{
      font-family: $headingFont;
      font-size: 1.5rem;
      font-weight: 300;
      margin-bottom: 3rem;
    }
    .myinput-group{
      display: flex;
      border-bottom: 1px $dark-blue solid;
      margin-bottom: 1.3rem;
      padding: 0.5rem 0;
      img{
        width: 1.5rem;
        height: auto;
        padding: 0.3rem;
      }
      .textBox{
        border: 0px solid;
        color: $dark-blue;
        font-size: 0.8rem;
        width: 100%;
        padding-left: 1rem;
        outline: none;
        ::placeholder{
          color: $dark-blue;
        }
      }
    }
  }
}
.loginBtn{
  margin-top: 3rem;
  padding: 0.7rem 3rem;
  color: white;
  border: 0px solid;
  border-radius: 0.6rem;
  font-size: 0.8rem;
  font-family: 'Lato',sans-serif;
  text-transform: uppercase;
  background:  $totalTicketDark;
  outline: none;
  letter-spacing: 1px;
  transition: all ease .2s;
}
.loginBtn:hover{
  transition: all ease .2s;
  background:  $dark-blue;
  box-shadow: .2rem .1rem .4rem rgba(0, 0, 0, 0.2);
}
.loginBtn:active{
  transition: all ease .2s;
  background:  $dark-blue;
  box-shadow: .2rem .1rem .4rem rgba(0, 0, 0, 0.2);
}
.loginBtn:disabled{
  background:  $totalTicketDark;
}
.row{
  padding: 0;
  margin: 0;
}
