
<div class="login">
    <div class="leftSide">
        <div class="title">
            Ace my <strong>Tax</strong>
        </div>
        <div class="content">
            <div class="text">
                You can now Easily and Securely manage your Tax!
            </div>
        </div>
    </div>
    <div class="rightSide">
        <p class="text-left">Sign In to experience the most efficient way of communication!</p>
        <form action="" #f="ngForm" (ngSubmit)="login(f)">
            <div class="myinput-group">
                <img src="../../../assets/img/icons/email.png" width="20px" alt="email">
                <input type="email" class="textBox" name="email" [(ngModel)]="users.email" placeholder="ENTER YOUR EMAIL" required>
            </div>
            <div class="myinput-group">
                <img src="../../../assets/img/icons/password.png" width="20px" alt="password">
                <input type="password" class="textBox" name="password" [(ngModel)]="users.password" placeholder="ENTER YOUR PASSWORD" required>
            </div>

            <button type="submit" [disabled]="!f.valid || loading" class="btn btn-primary">
                LOGIN
                <img src="../../../assets/img/loader/btnLoader.svg" *ngIf="loading" width="30px" alt="loading">
            </button>
        </form>
    </div>
</div>
