@import '../../../variables';

.table{
    border-radius: 1rem;
}
.table thead th{
    
}
.table thead th:first-child, .table thead th:last-child{
    border-right: 0px solid #ccc;
}

.table tbody tr{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 2rem;    
}
.table tbody tr td{
    vertical-align: middle;
}
.table tbody tr td:last-child{
   
}
.bold-text{
    font-weight: 600;
}
.onGoingTickets{
    border-radius: $border-radius;
    border: 0px solid #aaa;
    background: white;
}

.header{
    // background: $dark-blue;
    background: transparent;
    color: $dark-blue;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    padding: .7rem 1rem;
    border-radius: $border-radius $border-radius 0 0;
}

.avatar{
    width: 50px;
    height: 50px;   
    border-radius: 999px;
    overflow: hidden;
    display: block;
    margin: auto;
}