<div class="onGoingTickets">
    <div class="header">
        OnGoing Tickets
    </div>
    <div class="body">
        <table class="table text-center">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">NAME</th>
                <th scope="col">SERVICE AVAILED</th>
                <th scope="col">STATUS</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>
                  <div class="avatar border">
                    <img src="../../../assets/img/operator/dummy.png" alt="" width="100%">
                  </div>
                </th>
                <td>John Doe</td>
                <td>GST Filing & Consulation | GST Return Filing</td>
                <td>
                  <div class="row">
                    <div class="col-sm">
                      Documents Uploaded
                    </div>
                    <div class="col-sm">
                      <button class="btn btn-primary">UPDATE STATUS</button>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>
                  <div class="avatar border">
                    <img src="../../../assets/img/operator/dummy.png" alt="" width="100%">
                  </div>
                </th>
                <td>Mary Williams</td>
                <td>PAN/TAN Application</td>
                <td>
                  <div class="row">
                    <div class="col-sm">
                      Documents Uploaded
                    </div>
                    <div class="col-sm">
                      <button class="btn btn-primary">UPDATE STATUS</button>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>
                  <div class="avatar border">
                    <img src="../../../assets/img/operator/dummy.png" alt="" width="100%">
                  </div>
                </th>
                <td>William</td>
                <td>ROC Services | Company Formation</td>
                <td>
                  <div class="row">
                    <div class="col-sm">
                      Documents Uploaded
                    </div>
                    <div class="col-sm">
                      <button class="btn btn-primary">UPDATE STATUS</button>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>
                  <div class="avatar border">
                    <img src="../../../assets/img/operator/dummy.png" alt="" width="100%">
                  </div>
                </th>
                <td>Inez Massy</td>
                <td>Larry</td>
                <td>
                  <div class="row">
                    <div class="col-sm">
                      Documents Uploaded
                    </div>
                    <div class="col-sm">
                      <button class="btn btn-primary">UPDATE STATUS</button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>