<div class="onGoingTickets">
    <div class="header">
        Ongoing Tickets
    </div>
    <div class="body">
        <table class="table">
            <thead>
              <tr>
                <th scope="col" width="1%"></th>
                <th scope="col"  width="20%">NAME</th>
                <th scope="col"  width="20%">SERVICE AVAILED</th>
                <th scope="col"  width="20%" class="text-center">STATUS</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ticket of ongoingService; index as i">
                <td>
                  {{i+1}}
                </td>
                <td class="bold-text">{{ticket.client.name|uppercase}} </td>
                <td>
                  <span *ngIf="ticket.service">
                    {{ticket.service.name}}
                  </span>
                <td class="text-center bold-text">
                  {{ticket.status|uppercase}}
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>


