.row, .col-sm-3, .col-md-3, .col-lg-3,
.col-sm-4, .col-md-4, .col-lg-4{
    padding: 0;
    margin: 0;
}
.clientList{
    padding: 2rem;
}
.edit{
    cursor: pointer;
    font-size: inherit;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.operatorCardWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
}
.operatorCard{
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    padding: 0.8rem;
    box-shadow: 3px 5px 10px #dee2e6;
    &:hover .edit{
        display: initial;
    }
}
.wrapper{
    justify-content: space-evenly;
}
.content{
    font-family: "Lato", sans-serif;
    position: relative;
    .text{
        line-height: 2rem;
        font-size: 1.1rem;
        font-weight: bold;
        color: #595959;
        margin-top: 0.3rem;
    }
    .avatar{
        width: 40px;
        height: 40px;
        border-radius: 999px;
        overflow: hidden;
        display: block;
        border: 1px solid #dee2e6;
        margin: auto;
        justify-content: center;
    }
    .leftSide{
        display: flex;
        justify-content: center;
        padding-bottom: .5rem;
        .wrap{
            display: flex;
            flex-direction: row;
            align-items: center;
            .icon{
                width: 15px;
            }
            .text{
                line-height:unset;
                font-size: 0.8rem;
                letter-spacing: 1px;
                color: #595959;
                font-family: 'Lato', sans-serif;
            }
        }
    }
    
    
}
.secondary .content{
    padding: 0.2rem 1rem;
}
.content{
    justify-content: space-between;
    .Ticket{
        text-align: center;
        line-height: 2rem;
        img{
            height: 20px;
            width: 20px;
        }
        
    }
    div{
            line-height: 1rem;
            font-size: 0.7rem;
            font-weight: bold;
            text-align: center;
        }
    .totalTicketColor{
        color: #464690;
    }
    .ongoingTicketColor{
        color: #38b1e4;
    }
    .closedTicketColor{
        color: #fe7191;
    }
    .count{
        padding: 0.3rem 1rem;
        font-size: 1.2rem;
        font-weight: 500;
        font-family: 'Montserrat',sans-serif;
    }
}



.bar{
    border-right: 1px solid #dee2e6 ;
}

.pad10{
    padding-left: 1rem;
}