<div class="ticketCard">
    <div class="tcard" id="totalT">
        <div class="logo">
            <img src="../../../../../assets/img/icons/total-ticket.png" width="100%" alt="totoal"> 
        </div>
        <div class="tcard-content">
            <h1>20</h1>
            <p>TOTAL TICKETS</p>
        </div>
    </div>
    <div class="tcard" id="ongoingT">
        <div class="logo">
            <img src="../../../../../assets/img/icons/ongoing-ticket.png" width="100%" alt="to"> 
        </div>
        <div class="tcard-content">
            <h1>10</h1>
            <p>ONGOING TICKETS</p>
        </div>
    </div>
    <div class="tcard" id="closedT">
        <div class="logo">
            <img src="../../../../../assets/img/icons/closed-ticket.png" width="100%" alt="clos">    
        </div>
        <div class="tcard-content">
            <h1>40</h1>
            <p>CLOSED TICKETS</p>
        </div>
    </div>
</div>