<div class="payments">
    <div class="pendingPayment">
        <div class="heading">
            <span>Pending Payments</span>
            <span class="material-icons ml-2 reload" (click)="reload()">
                autorenew
            </span>
        </div>
        <div class="content">
            <ng-template ngFor let-pending [ngForOf]="pendingPayments">
                <div class="paymentCard" *ngIf="pending.status == 0">
                    <div class="row">
                        <div class="col-sm-5 col-md-5">
                            <span><img src="../../../../../../../assets/img/icons/pending-payment.png" width="20px" alt="Not loaded"></span>
                            <div class="service" *ngIf="pending.ticket.service">{{pending.ticket.service.name || '-'}}</div>
                        </div>
                        <div class="col-sm col-md">
                            <div class="title">
                                Rs. {{pending.amount || '-'}}
                            </div>
                            <!-- <button class="myBtn">Send Invoice</button> -->
                        </div>
                    </div>
                </div>  
            </ng-template>
            
        </div>
    </div>
    <div class="completedPayment">
        <div class="heading">
            <span>Completed Payments</span>
            <span class="material-icons ml-2 reload" (click)="reload()">
                autorenew
            </span>
        </div>
        <div class="content">
            <ng-template ngFor let-completed [ngForOf]="pendingPayments">
                <div class="paymentCard" *ngIf="completed.status == 2">
                    <div class="row">
                        <div class="col-sm-5 col-md-5">
                            <span><img src="../../../../../../../assets/img/icons/pending-payment.png" width="20px" alt="Not loaded"></span>
                            <div class="service">{{completed.ticket.service.name||'-'}}</div>
                        </div>
                        <div class="col-sm col-md">
                            <div class="title">
                                Rs. {{completed.amount||'-'}}
                            </div>
                            <!-- <button class="myBtn">Send Invoice</button> -->
                        </div>
                    </div>
                </div>
            </ng-template>
              
        </div>
    </div>
</div>

