<div class="banner">
    <div class="content">
        <div class="row">
            <div class="col-sm col-md">
                <div class="title">
                    Hi, <span class="name">John Doe</span>
                </div>
                <p>You have 4 tasks to finish today. You have
                    already completed 50% of your tasks today.
                    You have a very good progress. Keep it up!</p>
            </div>
            <div class="col-sm col-md">
                <button class="butterBtn">Get Monthly Report</button>
            </div>
        </div>
        
    </div>

</div>