$padding: 1rem;

.toolbarExpanded{
    width: 16%;
    transition: all cubic-bezier(0.54, 0.01, 0, 0.99) .3s;
}

.toolbar{
    display: flex;
    background: #f7faff;
    position: sticky;
    font-family: 'Montserrat', sans-serif;
}
.title{
    font-size: 1.5rem;
    
    font-weight: 500;
}
.leftSide{
    display: flex;
    padding: 0;
    margin: 0;
}
.leftSide li{
    padding: $padding;
    margin: 0;
    list-style: none;
}
.leftSide li .collapebtn{
    border: 0 solid;
    height: 35px;
    width: 35px;
    outline: none;
    background: transparent;
}
.rightSide{
    display: flex;
    margin-left: auto;
    padding: 0;
}
.rightSide .date{
    line-height: 2.5rem;
    color: #595959;
    font-weight: lighter;
}
.rightSide li{
    list-style: none;
    padding: $padding;
}
.bold-text{
    font-weight: 500;
    font-size: 1rem !important;
}