<div class="toolbar" >
    <ul class="leftSide">
        <li>
            <button class="collapebtn">
                <img src="../../../assets/img/menu.svg" alt="" width="100%">
            </button>
        </li>
        <li><div class="title">{{title}}</div></li>
    </ul>
    <ul class="rightSide">
        <li class="date">
            Date: March 30, 2020
        </li>
        <li class="user">
            <img src="../../../assets/img/icons/user-profile.png" width="32px" alt="">
        </li>
        <li class="news">
            <img src="../../../assets/img/icons/notifications.png" width="32px" alt="">
        </li>
    </ul>
</div>
