<div class="sidebar">
    <div class="header">
        Ace my <strong>Tax</strong>
    </div>
    <app-menu>
        <app-submenu [title]="'Home'" [logo]="'../../../assets/img/icons/home-white.png'">
            <li class="subitem" routerLinkActive="activeSidebar" routerLink="/dashboard">Dashboard</li>
        </app-submenu>
        <app-submenu [title]="'Client'" [logo]="'../../../assets/img/icons/client-white.png'">
            <li class="subitem" routerLinkActive="activeSidebar" routerLink="/dashboard/addClient">Add Client</li>
            <li class="subitem" routerLinkActive="activeSidebar" routerLink="/dashboard/clientList">Client List</li>
        </app-submenu>
        <app-submenu [title]="'Operator'" [logo]="'../../../assets/img/icons/operator-white.png'">
            <li class="subitem" routerLinkActive="activeSidebar" routerLink="/dashboard/addOperator">Add Operator</li>
            <li class="subitem" routerLinkActive="activeSidebar" routerLink="/dashboard/operatorList">Operator List</li>
        </app-submenu>
        <app-submenu [title]="'Products'" routerLinkActive="activeSidebar" [logo]="'../../../assets/img/icons/product-white.png'">
            <li class="subitem" routerLinkActive="activeSidebar" routerLink="/dashboard/createSerCat">Service Category</li>
            <li class="subitem" routerLinkActive="activeSidebar" routerLink="/dashboard/createService">Services</li>
            <!-- <li class="subitem" routerLinkActive="activeSidebar" routerLink="/dashboard/createBroadcast">Broadcasts</li> -->
            <!-- <li class="subitem" routerLinkActive="activeSidebar" routerLink="/dashboard/notifications">Notifications</li> -->
        </app-submenu>
        <app-submenu [title]="'Notifications'" routerLinkActive="activeSidebar" [logo]="'../../../assets/img/icons/product-white.png'">
            <li class="subitem" routerLinkActive="activeSidebar" routerLink="/dashboard/notifications">All Notifications</li>
        </app-submenu>
        <app-submenu [title]="'Settings'" [logo]="'../../../assets/img/icons/settings-white.png'">
            <li class="subitem" routerLinkActive="activeSidebar" routerLink="/dashboard/changePassword">Change Password</li>
        </app-submenu>
    </app-menu>
    <hr>

    <div class="chat">
        <div class="chatheader">
           <div>Clients
            <span class="material-icons reload ml-1" style="font-size: inherit;" (click)="reload()">autorenew</span>
           </div> 
           
           <div class="d-block ml-auto">{{filteredClients.length}}</div>
        </div>
        <div class="search mx-2 mb-2">
            <input type="search" class="form-control" placeholder="Search Clients" #search_client name="search" autocomplete="off">
        </div>
        <div class="loader d-block m-auto" *ngIf="loader">
            <img src="../../../assets/img/loader/loader.svg" width="30px" alt="">
        </div>
        <ul class="chatList">
            <li class="chatList-item" *ngFor="let user of filteredClients;index as i" id="chats_{{i}}" (click)="userDetails(user, i)">
                <div class="media">
                    <div class="avatar mr-3" [class.online]="user.online">
                        <img src="../../../assets/img/operator/dummy.png" width="100%" class=" " alt="...">
                    </div>
                    <div class="media-body">
                      <p>{{user.name || '-'}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
