
.expanded{
    width: 100%;
    transition: all cubic-bezier(0.54, 0.01, 0, 0.99) .3s;
}

.collapse{
    width: 20%;
    transition: all cubic-bezier(0.54, 0.01, 0, 0.99) .3s;
}

.sticky-top{
    background: rgb(28, 28, 85);
}
.sidebar{
    background: rgb(28, 28, 85);
    height: 100%;
    overflow: hidden;
    color: white;
    overflow-y: auto;
    max-height: 100vh;
}
p{
    font-family: 'Lato', sans-serif;
}

.header{
    text-align: center;
    padding: 1rem 2rem;
    font-size: 1.3rem;
    font-family: 'Montserrate', sans-serif;
}

.subitem{
    padding: 0.5rem 0.5rem 0.5rem 3rem;
    text-align: left;
    outline: none;
    font-weight: 400;
    border-radius: 0 1rem 1rem 0;    
    margin-bottom: 0.2rem;
}
.subitem:hover{
    transition: all ease .2s;
    background: rgba(255, 255, 255, 0.219);
    cursor: pointer;
}
.activeSidebar{
    background: rgba(255, 255, 255, 0.219);
    
}



.chat .chatheader{
    font-size: 0.95rem;
    margin-top: 1rem;
    display: flex;
    padding: 0.8rem;
}
.chat .form-control{
    background-color: rgba(255, 255, 255, 0.219);
    color: #f7f7f7;
    border-color: rgba(255, 255, 255, 0.219);
    border-radius: 6px;
    font-size: 12px;
}
.chat .form-control:hover{
    color: #fff;
    border-color: #fff;
}
.chat .form-control::placeholder{
    color: rgba(255, 255, 255, 0.5);
}
.chat .form-control:focus{
    color: #fff;
    border-color: #fff;
}
.chatList{
    padding: 0rem;
    
}
.chatList-item{
    list-style: none;
    padding: 0.8rem 1rem;
    font-size: 0.9rem;
    transition: all ease .1s;
}
.chatList-item:hover{
    background: rgba(255, 255, 255, 0.219);
    transition: all ease .1s;
    cursor: pointer;
    box-shadow: 0rem .1rem .5rem rgba(0, 0, 0, 0.164);
}

.chatActive{
    background: rgba(255, 255, 255, 0.219);
    box-shadow: 0rem .1rem .5rem rgba(0, 0, 0, 0.164);
}

.icon{
    height: 17px;
    width: 17px;
}
.icon img{
    width: 1rem;
}



.chatList-item img{
    height: 20px;
    width: 20px;
}

.chatList-item .media-body{
    overflow: hidden;
    p{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.avatar{
    border-radius: 5rem;
    position: relative;
}
.avatar .unread_message{
    position: absolute;
    bottom: -11px;
    left: -4px;
    .material-icons{
        font-size: large;
        color: #fe6d8f;
    }
}
.avatar img{
    border-radius: 5rem;
}

@media (min-width:1500px){
    .chatList{
        max-height: 600px;
    }
}
