<div class="sidebar">
    <div class="header">
        Ace my <strong>Tax</strong>
    </div>

    <ul class="list">
        <li class="list-item">
            <div class="icon mr-3">
                <img src="../../../assets/img/icons/home-white.png" width="100%" alt="home">
            </div>
            <span>Home</span>
        </li>
        <li class="list-item">
            <div class="icon mr-3">
                <img src="../../../assets/img/icons/client-white.png" width="100%" alt="client">
            </div> 
            <span>Client List</span>
        </li>
        <li class="list-item">
            <div class="icon mr-3">
                <img src="../../../assets/img/icons/operator-white.png" width="100%" alt="operator">
            </div> 
            <span>Add Operator</span>
        </li>
    </ul>

    <hr>

    <div class="chat">
        <div class="chatheader">
           <div> Online Clients</div> <div class="d-block ml-auto">10</div>
        </div>

        <ul class="chatList">
            <li class="chatList-item">
                <div class="media">
                    <div class="avatar online mr-3">
                        <img src="../../../assets/img/unnamed.jpg" width="100%" class=" " alt="...">
                    </div>
                    <div class="media-body">
                      <p>John Doe</p>
                    </div>
                </div>
            </li>
            
            <li class="chatList-item">
                <div class="media">
                    <div class="avatar online mr-3">
                        <img src="../../../assets/img/unnamed.jpg" width="100%" class=" " alt="...">
                    </div>
                    <div class="media-body">
                      <p>John Doe</p>
                    </div>
                </div>
            </li>
            <li class="chatList-item">
                <div class="media">
                    <div class="avatar online mr-3">
                        <img src="../../../assets/img/unnamed.jpg" width="100%" class=" " alt="...">
                    </div>
                    <div class="media-body">
                      <p>John Doe</p>
                    </div>
                </div>
            </li>
            <li class="chatList-item">
                <div class="media">
                    <div class="avatar online mr-3">
                        <img src="../../../assets/img/unnamed.jpg" width="100%" class=" " alt="...">
                    </div>
                    <div class="media-body">
                      <p>John Doe</p>
                    </div>
                </div>
            </li>
            
        </ul>
    </div>
</div>
