$margin-bottom: 1.7rem;
$border-radius: 1rem;
$headingFont: 'Montserrat', sans-serif;
$dark-blue: #02024c;


$totalTicketDark: #42428e;
$totalTicketLight: #7676c4;
$totalTicketFontColor: #d1d1f2;

$ongoingTicketDark: #646abf;
$ongoingTicketLight: #8c99f2;
$ongoingTicketFontColor: #d1d1f2;


$closedTicketDark: #fe6d8e;
$closedTicketLight: #ffb0c5;
$closedTickeFontColor: #ffe6ea;


