<section>
    <app-sidebar [style.width]="style.sidebar" (change)="openChatbox($event)"></app-sidebar>
    <div class="main" [style.width]="style.main">
        <app-toolbar></app-toolbar>
        <router-outlet (activate)="onActivate($event)"></router-outlet>
    </div>
    <app-minimizedchatbox *ngIf="minimizedChats.length > 0">
        <div class="chatbox" *ngFor="let chat of minimizedChats; index as i" (click)="openDialog(i)">
            <div class="avatar mr-3" [class.online]="chat.newMessage">
                <img src="../../../assets/img/operator/dummy.png" width="100%" class=" " alt="...">
            </div>
            <div class="content">
                <span class="name ellipses">{{chat.clients.name || '-'}}</span>
                <span class="ml-auto material-icons" style="font-size: inherit;" (click)="close(i)">clear</span>
            </div>
        </div>
        <div class="actual">
            <ng-template ngFor let-chat [ngForOf]="minimizedChats" let-i=index>
                <app-client [index]="i" [windowState]="chat.windowState" [chatData]="chat.clients" (change)="action($event)"></app-client>
            </ng-template>
        </div>
    </app-minimizedchatbox>
</section>