section{
    display: flex;
    width: 100%;
}

.expanded-sidebar{
    width: 18%;
    transition: all cubic-bezier(0.54, 0.01, 0, 0.99) .3s;
}

.collapsed-sidebar{
    width: 10%;
    transition: all cubic-bezier(0.54, 0.01, 0, 0.99) .3s;
}

app-sidebar{
    width: 16%;
    transition: all cubic-bezier(0.54, 0.01, 0, 0.99) .3s;
}
app-main{
    width: 84%;
    transition: all cubic-bezier(0.54, 0.01, 0, 0.99) .3s;
}